header {
  text-align: center;
  font-size: 2rem;
  background-color: aqua;
  width: 500px;
  height: 120px;
  border-radius: 20px;
}

main {
  line-height: 2;
  color: #333;
  background-color: rgba(52, 179, 234, 0.508);
  width: 500px;
  height: 200px;
  border-radius: 10px;
}

footer {
  background-color: rgba(42, 137, 178, 0.508);
  width: 500px;
  height: 30px;
  border-radius: 10px;
}
